version: '3.8'
services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    env_file:
        - .containerenv

    volumes:
      - ../..:/workspaces:cached
      
    command: sleep infinity

    # Resource limits to improve performance
    deploy:
      resources:
        limits:
          memory: 4G
          cpus: '2'
        reservations:
          memory: 1G
          cpus: '0.5'

    networks:
      - demo-network

  otel-lgtm:
    image: grafana/otel-lgtm

    ports:
      - 3000:3000
      - 4317:4317
      - 4318:4318
    networks:
      - demo-network
    
  redis:
    image: redis:7
    command: ["redis-server", "--requirepass", "redis", "--user", "redis", "on", ">redis", "~*", "+@all"]
    ports:
      - "6379:6379"
    networks:
      - demo-network

  keycloak:
    image: quay.io/keycloak/keycloak:23.0
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: dev-file
      KC_HTTP_ENABLED: true
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
    ports:
      - "4003:8080"
    volumes:
      - keycloak_data:/opt/keycloak/data
      - ./keycloak/dev-realm.json:/opt/keycloak/data/import/dev-realm.json
    command:
      - start-dev
      - --import-realm
    networks:
      - demo-network

networks:
  demo-network:
    driver: bridge

volumes:
  grafana_storage: {}
  keycloak_data: {}